# ===== Python (backend) =====
__pycache__/
*.pyc
.env
*.json

# ===== Node.js / React (frontend) =====
node_modules/
dist/
build/

# ===== OS / IDE / Misc =====
.DS_Store
.vscode/
.idea/

*.log
